---
layout: default
title: Home
---

<div class="sm:flex sm:mt-16 md:mt-8 items-center pb-8">
  <div class="bg-block"></div>
  <div class="sm:w-1/2 text-center sm:text-left text-xl">
    <h1
      class="text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-600 via-red-600 to-red-900"
    >
      Fernfolio
    </h1>

    <p class="md:mt-3">
      The super simple portfolio template built with Eleventy and Netlify CMS.
    </p>
  </div>

  <div class="mx-auto w-1/2">
    <img
      class="pt-3 md:pt-0 rounded-2xl md:rounded-xl md:mr-16 lg:max-w-md"
      src="{{ '/assets/images/Pilarsplash.png' }}"
    />
  </div>
</div>

<hr class="mt-8 pb-3" />
{% include projects_short.html %}
<hr class="mt-8 pb-3" />
{% include posts_short.html %}
