<header class="py-2">
  <nav class="content-center rounded-lg flex shadow-xl border-t">
    <div class="w-full inline-flex items-center ml-3">
      <a class="py-2 px" href="/"
        ><img
          class="rounded-lg h-16 object-scale-down"
          src="{{ '/assets/images/Pilarsplash.png' }}"
      /></a>
      <div class="sm:hidden w-full pr-6">
        <button class="float-right">
          <svg class="w-5 h-5" viewBox="0 0 17 14">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>

      <div class="sm:flex hidden ml-auto font-semibold text-gray-700">
        <a id="/about/" href="/about" class="nav-element">About</a>
        <a href="/blog" class="nav-element">Blog</a>
        <a href="/projects" class="nav-element">Projects</a>
        <a target="”_blank”" href="/contact" class="nav-element">Contact</a>
      </div>
    </div>
  </nav>
</header>
