<h1 class="text-4xl font-bold py-5 px-5">Articles</h1>
<hr class="pt-3" />

<ul class="mx-auto">
  {% for post in site.posts %}
  <a href="{{ post.url }}">
    <div class="mx-auto">
      <div class="max-w-sm">
        <div class="p-5">
          <h5 class="font-bold text-xl mb-1">{{ post.title }}</h5>
          <div>{{ post.excerpt }}</div>

          <ul class="inline-flex">
            {% for tag in post.tags %}
            <li
              class="font-semibold text-sm text-blue-700 bg-gray-100 rounded-lg p-2 my-3 mr-2"
            >
              {{ tag }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </a>
  <hr class="p-3" />
  {% endfor %}
</ul>
